@import "color";

html,
body {
  padding: 0;
  margin: 0;
  background: $background !important;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 500;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #323539 !important;
}

.nav-link {
  color: #323539 !important;
}

* {
  box-sizing: border-box;
}

.form-control:focus {
  box-shadow: none !important;
}

main {
  min-height: 73vh;
}

.btn:focus {
  outline: none;
  box-shadow: none !important;
}

.btn {
  box-shadow: none !important
}

.btn-primary{
  color: #ffffff;
  &:hover{
    color: #ffffff;
  }
}
.btn-outline-primary{
  &:hover{
   background-color: #ffffff;
    color: $primary-color;
  }
}

.ant-modal-mask {
  background-color: transparent !important;
}
.ant-modal-content{
  background-color: #ffffff !important;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

.btn-secondary:hover{
  color: #ffffff !important;
}
.btn-primary :hover{
  color:#ffffff !important;
}

.register_btn:hover{
  color: #ffffff !important;
}



.section {
  position: relative;
  height: 100vh;
}
.logout:hover{
  color: #ffffff !important;
}
.section .section-center {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.hoverable:hover{
  cursor: pointer !important;
}
#about{
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  background-image: url('https://salon-ui-bk-2.s3.amazonaws.com/beautician-g621964753_1920.jpg');
  background-size: cover;
  background-position: center;
  min-height: 90vh;
  a.btn:hover{
    color: #ffffff !important;
  }
}

#about::before {
  color: #ffffff;
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(47, 103, 177, 0.2);
}



#booking {
  font-family: 'Montserrat', sans-serif;
  background-image: url('https://salon-ui-bk-2.s3.amazonaws.com/woman-gacb392740_1920.jpg');
  background-size: cover;
  background-position: center;
}

#appointment {
  font-family: 'Montserrat', sans-serif;
  background-image: url('https://salon-ui-bk-2.s3.amazonaws.com/people-g0aac52a33_1920.jpg');
  background-size: cover;
  background-position: center;
}

#booking::before,#appointment::before  {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(47, 103, 177, 0.2);
}

.booking-form {
  background-color: #fff;
  padding: 40px 20px;
  -webkit-box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

.booking-form .form-group {
  position: relative;
  margin-bottom: 30px;
}

.booking-form .form-control {
  border-radius: 4px;
  height: 40px;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #3e485c;
  font-size: 14px;
}

.booking-form .form-control::-webkit-input-placeholder {
  color: rgba(62, 72, 92, 0.3);
}

.booking-form .form-control:-ms-input-placeholder {
  color: rgba(62, 72, 92, 0.3);
}

.booking-form .form-control::placeholder {
  color: rgba(62, 72, 92, 0.3);
}

.booking-form select.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.booking-form select.form-control+.select-arrow {
  position: absolute;
  right: 0px;
  bottom: 4px;
  width: 32px;
  line-height: 32px;
  height: 32px;
  text-align: center;
  pointer-events: none;
  color: rgba(62, 72, 92, 0.3);
  font-size: 14px;
}

.booking-form select.form-control+.select-arrow:after {
  content: '\279C';
  display: block;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.booking-form .form-label {
  display: inline-block;
  color: #3e485c;
  font-weight: 700;
  margin-bottom: 6px;
  margin-left: 7px;
}

.booking-form .submit-btn {
  display: inline-block;
  color: #fff;
  background-color: #1e62d8;
  font-weight: 700;
  padding: 14px 30px;
  border-radius: 4px;
  border: none;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.booking-form .submit-btn:hover,
.booking-form .submit-btn:focus {
  opacity: 0.9;
}

.booking-cta {
  margin-top: 80px;
  margin-bottom: 30px;
}

.booking-cta h1 {
  font-size: 52px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
}

.booking-cta p {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
}