#header{
  .authentication{
    .btn_register{
      color: #ffffff !important;
      &:hover{
        color: #ffffff !important;
      }
    }
  }
  .shopping_cart_icon{
    &:hover{
      cursor: pointer;
    }
  }
}
